<template>
  <div>
    Questions page
    <div class="background">
      <div class="card">
        <div v-if="returnQuestions" class="card-content">
          <div
            class="question"
            v-html="returnCurrentQuestionWithID(currentQuestion).question"
          ></div>
          <div
            class="buttons"
            v-for="answer in returnCurrentQuestionWithID(currentQuestion)
              .all_answers"
            :key="answer.id"
          >
            <button
              class="btn-grad"
              @click="checkAnswer(answer)"
              v-html="answer"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";

export default {
  name: "Questions",
  data() {
    return {
      currentQuestion: 0,
    };
  },
  computed: {
    ...mapGetters(["returnCurrentQuestionWithID", "returnQuestions"]),
  },
  methods: {
    ...mapMutations(["setQuestionUserAnswer", "setUserHighScore"]),
    checkAnswer(answer) {
      this.setQuestionUserAnswer({
        id: this.currentQuestion,
        answer: answer,
      });
      if (
        this.returnCurrentQuestionWithID(this.currentQuestion).user_answer ==
        this.returnCurrentQuestionWithID(this.currentQuestion).correct_answer
      )
        this.setUserHighScore({
          highScore: 10,
        });
      this.currentQuestion++;
      this.routeToResultIfLastQuestion();
    },
    // checks if result page should be rendered
    routeToResultIfLastQuestion() {
      this.returnQuestions.length > this.currentQuestion
        ? 0
        : this.$router.push("result");
    },
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.background {
  margin: 1em;
  font-family: "Nunito", sans-serif;
}
.card {
  display: block;
  font-size: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 1.8rem 0.5rem rgba(0, 0, 0, 0.3);
}
.card-content {
  padding: 2rem;
}
.question {
  padding-bottom: 1rem;
}
.btn-grad {
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(
    to right,
    #eecda3 0%,
    #ef629f 51%,
    #eecda3 100%
  );
}
.btn-grad {
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  font-weight: 600;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}
.btn-grad:hover {
  color: #fff;
  text-decoration: none;
}
</style>
